#map {
	height: 800px;
	width: 100%;
	-webkit-box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.75);
}